{% extends 'emails/base_email.html' %}
{% block title %}Đặt ngâm chân!{% endblock %}
{% block header %}Đặt ngâm chân!{% endblock %}
{% block content %}
<p>Xin chào <strong>{{ name }}</strong>,</p>
<p>Thư giãn với thảo mộc núi rừng!</p>
<div class="service-icon">Herbal</div>
<div class="highlight">
  <p>Thông tin:</p>
  <ul>
    <li>Ngày: <strong>{{ date|date:"d/m/Y" }}</strong></li>
    <li>Số người: <strong>{{ people }}</strong></li>
  </ul>
</div>
<p>Giá: <strong>150.000 VNĐ/người</strong></p>
<a href="https://wecamp.com/herbal" class="btn">Tìm hiểu thêm</a>
{% endblock %}