{% extends 'emails/base_email.html' %}
{% block title %}Đặt hoạt động sáng tạo!{% endblock %}
{% block header %}Đặt hoạt động sáng tạo!{% endblock %}
{% block content %}
<p>Xin chào <strong>{{ name }}</strong>,</p>
<p>Sáng tạo cùng màu sắc tại Wecamp!</p>
<div class="service-icon">Art</div>
<div class="highlight">
  <p>Thông tin:</p>
  <ul>
    <li>Ngày: <strong>{{ date|date:"d/m/Y" }}</strong></li>
    <li>Số người: <strong>{{ people }}</strong></li>
  </ul>
</div>
<p>Giá: <strong>100.000 VNĐ/người</strong></p>
<a href="https://wecamp.com/art" class="btn">Xem mẫu tượng</a>
{% endblock %}